@import "./bootstrap.min.css";
@import "./style.css";
@import '~mdb-ui-kit/css/mdb.min.css';


/* body {
 background-color: black;   
}

.site-header > .custom-logo-link > .site-header_logo {
    background-color: red;
} */

.container {
    /* background-color: red; */
    /* text-decoration: none; */
    /* margin-left: 0%; */
    /* display:inline-flex; */
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.bg-image {
    background-color: red;
}
